ion-slide{
	padding-bottom:20px;
    padding-top: 50px;
	display: block;
	h2{
		font-size: 36px;
		font-weight: bold;
	}

    p{
        font-size: 14px;
    }
    // img{
    //     max-height:250px;
    // }
}
