<ion-content>
  <ion-slides pager="true" scrollbar="false" [options]="slideOpts">
    <ion-slide>
      <div><img src="assets/images/slider-1.svg" alt="Slide"></div>
      <div><h1>Find Love Here</h1></div>
      <div><p>Record lecture notes and play back at your convenience and where you want </p></div>
    </ion-slide>
    <ion-slide>
      <img src="assets/images/slider-2.svg" alt="Slide">
      <h1>Find Love Here</h1>
      <p>Record lecture notes and play back at your convenience and where you want </p>
    </ion-slide>
    <ion-slide>
      <img src="assets/images/slider-3.svg" alt="Slide">
      <h1>Find Love Here</h1>
      <p>Record lecture notes and play back at your convenience and where you want </p>
    </ion-slide>
  </ion-slides>
</ion-content>