<ion-content padding="true">
  <div *ngIf="!create_account" class="main-content">
    <app-homeslider></app-homeslider>
  </div>
  <div *ngIf="create_account" class="onboarding-content">
  </div>
  
  <div *ngIf="!create_account">
    <ion-button class="onboarding-button" expand="block" shape="round" (click)="createAccount()">Create account</ion-button>
    <!-- <ion-button expand="block" fill="outline" (click)="navigateToLogin()">Login</ion-button> -->
    <p class ="login-text">Already have an account? <span (click)="navigateToLogin()">Log in</span></p>
    <!-- <p class="terms-notice">By clicking 'Create acount' or 'Log in', I state that I have read and understood the terms and conditions. </p> -->
    
    <ion-item lines="none">
      <ion-checkbox slot="start"></ion-checkbox>
    <ion-label class="terms-notice">I agree to the <span>terms and conditions</span> and <br><span>Privacy Policy</span>.</ion-label>
    </ion-item>
  
  </div>
  <div *ngIf="create_account">
    <ion-button class="onboarding-button" expand="block" (click)="proceedToOnboarding()">Next</ion-button>
  </div>
  
</ion-content>
