<ion-content padding="true">
  <div *ngIf="!create_account" class="main-content">
    <app-logo></app-logo>
  </div>
  <div *ngIf="create_account" class="onboarding-content">
  </div>
  
  <div *ngIf="!create_account">
    <ion-button class="onboarding-button" expand="block" (click)="createAccount()">Create account</ion-button>
    <ion-button expand="block" fill="outline" (click)="navigateToLogin()">Login</ion-button>
    <p class="terms-notice">By clicking 'Create acount' or 'Log in', I state that I have read and understood the terms and conditions. </p>
  </div>
  <div *ngIf="create_account">
    <ion-button class="onboarding-button" expand="block" (click)="proceedToOnboarding()">Next</ion-button>
  </div>
  
</ion-content>
