.main-content{
    height: 80%;
}

.onboarding-content{
    height: 80%;
}

ion-content{
    --padding-bottom: 18px;
    --padding-end: 18px;
    --padding-start: 18px;
    --padding-top: 18px;
}

ion-button{
    --height: 47px;
    --margin-bottom: 10px;
}

.onboarding-button{
    margin-bottom: 10px;
    height: 53px;
    border-radius: 20px;
}

.terms-notice{
    font-size: 12px;
    // text-align: center;
}

.terms-notice span{
    color: #FF0000;
}

.login-text{
    text-align: center;
}

.login-text span{
    font-weight: bold;
}

.center{
    text-align: center;
}

ion-checkbox::part(container) {
    border-radius: 6px;
    margin-right: 7px;
  }