<ion-content [fullscreen]="true">

  <div class="main_div " *ngIf="current === 1">
    <div class="">

      <ion-grid>
        <ion-row>
          <ion-col size="3">
            <ion-icon (click)="back()" size="large" name="chevron-back-outline"></ion-icon>
          </ion-col>
          <ion-col size="9"><span class="text-center">What's your email?</span></ion-col>

        </ion-row>
      </ion-grid>
      <form class="my-5 p-2">

        <ion-label>
          Email
        </ion-label>

        <ion-item lines="none">

          <ion-input type="email" placeholder="Enter your email"></ion-input>
        </ion-item>

      </form>
    </div>
  </div>


  <div class="main_div " *ngIf="current === 2">
    <div class="">

      <ion-grid>
        <ion-row>
          <ion-col size="2">
            <ion-icon size="large" (click)="back()" name="chevron-back-outline"></ion-icon>
          </ion-col>
          <ion-col size="10"><span class="text-center">Please Create a Password</span></ion-col>

        </ion-row>
      </ion-grid>
      <form class="my-5 p-2">

        <ion-label>
          Password
        </ion-label>

        <ion-item lines="none">

          <ion-input type="password" placeholder="Password"></ion-input>
        </ion-item>

      </form>
    </div>
  </div>


  <div class="main_div " *ngIf="current === 3">
    <div class="">

      <ion-grid>
        <ion-row>
          <ion-col size="3">
            <ion-icon (click)="back()" size="large" name="chevron-back-outline"></ion-icon>
          </ion-col>
          <ion-col size="9"><span class="text-center">What's your name?</span></ion-col>

        </ion-row>
      </ion-grid>
      <form class="my-5 p-2">

        <ion-label>
         First Name
        </ion-label>

        <ion-item lines="none">

          <ion-input type="text"  placeholder="Enter your first name"></ion-input>
        </ion-item>

      </form>
    </div>
  </div>
  <div class="main_div " *ngIf="current === 4">
    <div class="">

      <ion-grid>
        <ion-row>
          <ion-col size="2">
            <ion-icon (click)="back()" size="large" name="chevron-back-outline"></ion-icon>
          </ion-col>
          <ion-col size="10"><span class="text-center">What's your phone number?</span></ion-col>

        </ion-row>
      </ion-grid>
      <form class="my-5 p-2">

        <ion-label>
        Mobile Number
        </ion-label>


        <ion-item lines="none">
<ion-grid>
  <ion-row>
    <ion-col size="2"style="display: flex; align-items:center">
      <!-- <ion-select  >
        <ion-select-option ></ion-select-option>
        <ion-select-option selected>+1</ion-select-option>
        <ion-select-option >+223</ion-select-option>
        <ion-select-option >+410</ion-select-option>


      </ion-select> -->
      <select name="" id="" class="py-2 px-2"  style="margin-left: -12px; border: none; font-weight: 500; border-right: 1px solid #BEBEBE; outline: none;background: white;">
        <option value="">+223</option>
        <option value="">+224</option>
        <option value="">+225</option>
      </select>
    </ion-col>
    <ion-col size="10"> <ion-input type="text" style="margin-left: 36px;"  placeholder="Enter mobile number"></ion-input></ion-col>

  </ion-row>
</ion-grid>

        </ion-item>

      </form>
    </div>
  </div>
  <div class="btn_down">
    <div class="my-3">
      <ion-button expand="block" (click)="first()" size="large">Next</ion-button>
    </div>
  </div>

</ion-content>
