<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="discover">
      <ion-icon name="triangle"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="chat">
      <ion-icon name="ellipse"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="square"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="globe">
      <ion-icon name="square"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tab5">
      <ion-icon name="square"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
